.headline{
    font-size: 70px;
    color: darkslategray;
}
.headline .nogame{
    color: rgb(75, 75, 75);
}.headline .nogame{
    color: rgb(251, 35, 35);
}

.back{
    background-color: rgb(255, 243, 249);
}

.bdr{
    border: none;
}
.mrg{
    margin-top: 100px;
}
.backc{
    background-color: rgb(235, 231, 231);
    border-radius: 15px;
    padding: 40px;
}
.card-footer{
    border-top: none;
    background-color: white;
}
.price{
    text-align: start;
    color: rgb(114, 170, 2);
    font-weight: bold;

}